<style>
/*#bg {
  position: fixed; 
  top: -50%; 
  left: -70%; 
  width: 200%; 
  height: 200%;
}
#bg img {
  position: absolute; 
  top: 0; 
  left: 0; 
  right: 0; 
  bottom: 0; 
  margin: auto; 
  min-width: 13%;
  min-height: 50%;
}*/
#tagore {
  position: fixed; 
  top: -50%; 
  left: -50%; 
  width: 200%; 
  height: 200%;
}
#tagore img {
  position: absolute; 
  top: 0; 
  left: 0; 
  right: 0; 
  bottom: 0; 
  margin: auto; 
  min-width: 13%;
  min-height: 50%;
}
#tagore #text {
  z-index: 100;
  position: absolute;
  color: white;
  font-size: 24px;
  font-weight: bold;
  left: 150px;
  top: 350px;
}

</style>
<div id="tagore">
 <%= image_tag "/assets/budda.jpeg",:id=>"about_image"%>
 <div id="text">
  Rejoice
 </div>
</div>
